@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background: black;
  }
  body {
    background: black;
  }
}

.font-code {
  font-family: "Lucida Console", "Courier New", monospace;
}

.glow {
  font-size: 110px;
  text-align: center;
  color: white;
  animation: glow 8s ease-in-out infinite alternate;
}

.slide-down {
  animation: slide-down 0.2s ease-in-out;
  top: 0px;
  z-index: -10;
}

/* animations */

@keyframes glow {
  from {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #e60073,
      0 0 40px #e60073,
      0 0 50px #6400e6,
      0 0 60px #0032e6,
      0 0 70px #008ee6;
  }

  to {
    text-shadow:
      0 0 20px #fff,
      0 0 30px #4deaff,
      0 0 40px #4dff8e,
      0 0 50px #4dff65,
      0 0 60px #a3ff4d,
      0 0 70px #fff04d,
      0 0 80px #fff64d;
  }
}

@keyframes slide-down {
  0% {
    top: -10px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

.h-screen {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}
