# Requirements for the FastAPI server and services
# python 3.10

fastapi~=0.88.0
motor==3.1.1
pydantic==1.10.4
gunicorn
beanie==1.16.6
pyyaml~=6.0
starlette==0.22
supertokens_python
pydantic_computed
python-dateutil
psycopg2-binary
sqlalchemy
sqlalchemy-utils
firebase-admin
